@import "@nib-styles/v2-icons";
@import "@nib-styles/v2-typography";

@mixin alert-icon($name) {
  @include v2-icon($name, $color: "white", $after: true);
}

.alert {
  display: inline-block;
  position: relative;
  min-height: 52px;
  border-width: 4px;
  border-style: solid;
  padding-left: 72px;
  padding-right: 12px;
}

.alert::after {
  font-size: 28px;
  position: absolute;
  padding-top: 11px;
  top: 0;
  left: -3px;
  width: 60px;
  min-height: 100%;
  text-align: center;
  box-sizing: border-box;
}

.alert__title {
  @include title($size: 4);
  padding: 11px 0px 10px 0px;
}

.alert__title:first-child:last-child {
  @include copy($size: 'large');
  padding: 0;
  line-height: 52px;
}

.alert__message {
  @include copy();
  padding: 0px 0px 11px 0px;
}

.alert--error {
  @include alert-icon('close-circle-inverse');
  border-color: #E74C3C;
}

.alert--error::after {
  background-color: #E74C3C;
}

.alert--success {
  @include alert-icon('tick-circle-inverse');
  border-color: #009623;
}

.alert--success::after {
  background-color: #009623;
}

.alert--warning {
  @include alert-icon('warning-inverse');
  border-color: #ffb400;
}

.alert--warning::after {
  background-color: #ffb400;
}

.alert--info {
  @include alert-icon('info-circle-inverse');
  border-color: #02abcc;
}

.alert--info::after {
  background-color: #02abcc;
}
